body{
    width: 1160px;
    margin: auto;
    border-right: 1px solid black;
    overflow-x: scroll ;
    background: #782221;
}
header img {
    width: 75px;
    height: 75px;
    margin-left: 50%;
    margin-right: 50%;
    cursor: zoom-in;
    border-radius: 100%;
}