body{
    width: 1160px;
    margin: auto;
    border-right: 1px solid black;
    overflow-x: scroll ;
    background: #782221;
}
header img {
    width: 75px;
    height: 75px;
    cursor: zoom-in;
    border-radius: 100%;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}
header section address{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #2c1d27;
}